.StudyRouteLine {
  .arrow {
    height: 120px;
    color: var(--primary_color);
    font-size: 40px;
    transform: translate(-25%, 50%) scaleX(1.2);
    &:nth-of-type(1) {
      margin-left: 20px;
    }
  }
  a {
    height: max-content;
  }
  .card {
    height: 120px;
    margin-top: 20px;
    margin-right: 26px;
  }
  .start,
  .end {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin-top: 28px;
    font-weight: bold;
    font-size: 25px;
    background-color: var(--bg);
    border-radius: 50%;
    box-shadow: 0 0 2px var(--mask);
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 4px var(--mask);
    }
  }
}
