.Commend {
  display: flex;
  & > .right {
    width: 100%;
    margin-left: 20px;
    .userBox {
      display: flex;
      align-items: center;
      width: 100%;
      .name {
        font-weight: 500;
        font-size: 15px;
      }
      time {
        margin-left: auto;
        opacity: 0.6;
      }
    }
    .actionBox {
      opacity: 0.6;
      .actionItem {
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }
}
