.StudySetCreation {
  height: calc( 100vh - 46px - 60px );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .container {
    position: relative;
    top: -80px;
    width: 300px;
    padding: 30px;
    background-color: var(--button_mask);
    border-radius: 8px;
    h1 {
      font-size: 20px;
      text-align: center;
      margin-bottom: 20px;
    }
  }
  .createBtn {
    display: block;
    width: 100%;
    margin: auto;
  }
}
